@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Reset styles */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  body {
    color: #222;
    background-color: #fff;
  }
}
